extends layout

block content
  h1= title
  p Welcome to #{title}
  form(action='/admin/articles', method='POST', enctype='multipart/form-data')
    label(for='title')
      | Title
      input#title(type='text', name='title')
    label(for='author')
      | Author
      input#author(type='text', name='author')
    label(for='text')
      | Text
      textarea#text(name='content', cols='30', rows='10')
    label(for='pic')
      | Picture
      input#pic(type='file', name='picture')
    input(type='submit', value='Send')
